form {
    background: linear-gradient(to top, #89f7fe, #66a6ff);
    transition: background 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    height: 100px;
    width: 500px;
    color: #1a1a1a;
}

.uploaded-row {
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 8px;
    background: white;
    max-height: 200px;
    overflow-x: auto;
    border: 1px solid black;
}

.uploaded-content {
    color: black;
    align-items: center;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}